<% if tasks.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>user</th>
        <th>id</th>
        <th>ステータス</th>
        <th>タスク</th>
      </tr>
    </thead>
    <% tasks.each do |task| %>
      <% user = task.user %>
      <tbody>
        <tr>
          <td>
            <div><img class="media-object img-rounded" src="<%= gravatar_url(user, options = { size: 50 }) %>" alt=""></div>
            <div><%= link_to user.name, user_path(user) %></div>
          </td>
          <td><%= link_to task.id, task_path(task) %></td>
          <td><%= task.status %></td>
          <td><%= task.content %></td>
        </tr>
     </tbody>
    <% end %>
  </table>
  <div>
    <%= paginate tasks %>
  </div>
<% end %>

